{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current",
              "browsers": [
                "> 2% in AU",
                "not dead",
                "not IE_Mob 11"
              ]
            }
          }
        ]
      ]
    }
  }
}
