.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1170px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: -1rem;
  margin-right: -1rem;

  .content-small, .content-big {
    margin: 1rem auto;
  }

  .content-small {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 400px;
  }

  .content-big {
    flex: 0 1 600px;
    max-width: 600px;
    width: 100%;
  }

  .content-top {
    align-self: flex-start;
  }

  .content-sticky {
    position: sticky;
    top: 0;
  }

  .row-heading {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// Scrollbar
body {

  &::-webkit-scrollbar {
    width: 12px;
    background-color: $dark;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent;
    border-radius:5px;
    background-color:$primary;
    border:2px solid hsl(210deg, 15%, 20%);
  }

  &::-webkit-scrollbar-track {
    border-radius:3px;
    background-color:transparent;
  }
}