.page {
  color: $white;
}

.page-heading {
  padding-left: 1rem;
  padding-right: 1rem;
}

.subtitle {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
}

.blockquote-container {
  background-color: #2b2b2b;
  padding: 1rem 1.25rem;

  figcaption {
    display: block;
    font-size: .875rem;

    &::before {
      content: '— ';
    }
  }
}